[Unit]
Description=RPI RGB Grid

[Service]
Environment=NODE_PORT=3000
Environment=NODE_ENV=production
ExecStart=sudo -H -u root /bin/bash -c "cd /home/pi/apps/rpi-rgb-screen && git pull && yarn && yarn build && /usr/local/bin/node dist/index.js"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target